### Question 1
<font color = 'Green'>

<font color = 'Red'>
Task 1
</font>


- Load the energy data from the file [Energy Indicators.xls](http://unstats.un.org/unsd/environment/excel_file_tables/2013/Energy%20Indicators.xls).
It is a list of indicators of energy supply and renewable electricity production from the United Nations for the year 2013.


- It should be put into a DataFrame with the variable name of "energy"


- Make sure to exclude the footer and header information from the datafile.


- The first two columns are unneccessary, so you should get rid of them, and you should change the column labels so that the columns are:<br>
`['Country', 'Energy Supply', 'Energy Supply per Capita', '% Renewable']`


- Convert `Energy Supply` to gigajoules (there are 1,000,000 gigajoules in a petajoule).


- For all countries which have missing data (e.g. data with `...`) make sure this is reflected as `np.NaN` values.


- Rename the following list of countries (for use in later questions):
    - `Republic of Korea`: `South Korea`,
    - `United States of America`: `United States`,
    - `United Kingdom of Great Britain and Northern Ireland`: `United Kingdom`,
    - `China, Hong Kong Special Administrative Region`: `Hong Kong`

- There are also several countries with numbers and/or parenthesis in their name. Be sure to remove these, e.g.:
    - `Bolivia (Plurinational State of)` should be `Bolivia`,
    - `Switzerland17` should be `Switzerland`.


</font>

In [105]:
import pandas as pd
import numpy as np
import re

def clean_country_name(name):
    if isinstance(name, str):
        name = re.sub(r'\s*\(.*\)\s*', '', name)            # Шукає дужки і видаляє все що між ними
        name = re.sub(r'\d+', '', name)                     # Шукає цифри і видаляє все що між ними
        return name.strip()
    return np.nan

file_path = r"E:\University\Інше\IV Amazinum Data Science Camp\Lecture 3\Energy Indicators.xls"
energy = pd.read_excel(file_path, usecols=[2, 3, 4, 5], skiprows=18, nrows=229, header=None)

energy.columns = ['Country', 'Energy Supply', 'Energy Supply per Capita', '% Renewable']
energy = energy.drop(index=1).reset_index(drop=True)

energy['Energy Supply'] = energy['Energy Supply'] * 1_000_000

energy.replace('...', np.NaN, inplace=True)

energy['Country'] = energy['Country'].replace(
    {
        "Republic of Korea": "South Korea",
        "United States of America": "United States",
        "United Kingdom of Great Britain and Northern Ireland": "United Kingdom",
        "China, Hong Kong Special Administrative Region": "Hong Kong"
    })

energy['Country'] = energy['Country'].apply(clean_country_name)

energy

,Country,Energy Supply,Energy Supply per Capita,% Renewable
0,Afghanistan,321000000,10.0,78.669280
1,Algeria,1959000000,51.0,0.551010
2,American Samoa,.................................................,NaN,0.641026
3,Andorra,9000000,121.0,88.695650
4,Angola,642000000,27.0,70.909090
...,...,...,...,...
223,Yemen,344000000,13.0,0.000000
224,Zambia,400000000,26.0,99.714670
225,Zimbabwe,480000000,32.0,52.536120
226,NaN,NaN,NaN,NaN
227,NaN,NaN,NaN,NaN

<font color='Green'>

<font color = 'Red'>
Task 2
</font>

- Next, load the GDP data from the file ["world_bank.csv"](http://data.worldbank.org/indicator/NY.GDP.MKTP.CD). 
It is a csv containing countries' GDP from 1960 to 2015 from World Bank. Call this DataFrame "GDP"


- Make sure to skip the header, and rename the following list of countries:
    - `Korea, Rep.`: `South Korea`,
    - `Iran, Islamic Rep.`: `Iran`,
    - `Hong Kong SAR, China`: `Hong Kong`

</font>

In [73]:
import pandas as pd

file_path= r"E:\University\Інше\IV Amazinum Data Science Camp\Lecture 3\API_NY.GDP.MKTP.CD_DS2_en_csv_v2_5871885.csv"
GDP = pd.read_csv(file_path, sep = ',', skiprows=4)

GDP['Country'] = GDP['Country'].replace(
    {
        "Korea, Rep.": "South Korea",
        "Iran, Islamic Rep.": "Iran",
        "Hong Kong SAR, China": "Hong Kong"
    })

GDP

,Country,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,Unnamed: 67
0,Aruba,ABW,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,2.791061e+09,2.963128e+09,2.983799e+09,3.092179e+09,3.276188e+09,3.395794e+09,2.610039e+09,3.126019e+09,NaN,NaN
1,Africa Eastern and Southern,AFE,GDP (current US$),NY.GDP.MKTP.CD,2.112502e+10,2.161623e+10,2.350628e+10,2.804836e+10,2.592067e+10,2.947210e+10,...,1.006526e+12,9.273485e+11,8.851764e+11,1.021043e+12,1.007196e+12,1.000834e+12,9.275933e+11,1.081998e+12,1.169484e+12,NaN
2,Afghanistan,AFG,GDP (current US$),NY.GDP.MKTP.CD,5.377778e+08,5.488889e+08,5.466667e+08,7.511112e+08,8.000000e+08,1.006667e+09,...,2.055058e+10,1.999814e+10,1.801955e+10,1.889635e+10,1.841886e+10,1.890450e+10,2.014345e+10,1.458314e+10,NaN,NaN
3,Africa Western and Central,AFW,GDP (current US$),NY.GDP.MKTP.CD,1.044764e+10,1.117321e+10,1.199053e+10,1.272769e+10,1.389811e+10,1.492979e+10,...,8.943225e+11,7.686447e+11,6.913634e+11,6.848988e+11,7.670257e+11,8.225384e+11,7.864600e+11,8.444597e+11,8.778633e+11,NaN
4,Angola,AGO,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,1.372444e+11,8.721930e+10,4.984049e+10,6.897277e+10,7.779294e+10,6.930911e+10,5.024137e+10,6.568544e+10,1.067136e+11,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,Kosovo,XKX,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,7.074393e+09,6.295845e+09,6.682674e+09,7.180769e+09,7.878763e+09,7.899741e+09,7.717143e+09,9.412034e+09,9.429156e+09,NaN
262,"Yemen, Rep.",YEM,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,4.322859e+10,4.244449e+10,3.131782e+10,2.684223e+10,2.160616e+10,NaN,NaN,NaN,NaN,NaN
263,South Africa,ZAF,GDP (current US$),NY.GDP.MKTP.CD,8.748597e+09,9.225996e+09,9.813996e+09,1.085420e+10,1.195600e+10,1.306899e+10,...,3.811989e+11,3.467098e+11,3.235855e+11,3.814488e+11,4.041589e+11,3.885312e+11,3.376196e+11,4.190156e+11,4.058697e+11,NaN
264,Zambia,ZMB,GDP (current US$),NY.GDP.MKTP.CD,7.130000e+08,6.962857e+08,6.931429e+08,7.187143e+08,8.394286e+08,1.082857e+09,...,2.714102e+10,2.125122e+10,2.095841e+10,2.587360e+10,2.631151e+10,2.330867e+10,1.811064e+10,2.214765e+10,2.978445e+10,NaN
265,Zimbabwe,ZWE,GDP (current US$),NY.GDP.MKTP.CD,1.052990e+09,1.096647e+09,1.117602e+09,1.159512e+09,1.217138e+09,1.311436e+09,...,1.949552e+10,1.996312e+10,2.054868e+10,1.758489e+10,3.415607e+10,2.183223e+10,2.150970e+10,2.837124e+10,2.067806e+10,NaN

<font color = 'Green'>
<font color = 'Red'>
Task 3
</font>

- Finally, load the "Sciamgo Journal and Country Rank data for [Energy Engineering and Power Technology"](http://www.scimagojr.com/countryrank.php?category=2102). It ranks countries based on their journal contributions in the aforementioned area. Call this DataFrame "ScimEn"


- Join the three datasets: Energy, GDP, and ScimEn into a new dataset (using the intersection of country names). Use only the 10 years (2006-2015) of GDP data and only the top 15 countries by Scimagojr 'Rank' (Rank 1 through 15).


- The index of this DataFrame should be the name of the country, and the columns should be<br>
`['Rank', 'Documents', 'Citable documents', 'Citations', 'Self-citations', 'Citations per document', 'H index', 'Energy Supply', 'Energy Supply per Capita', '% Renewable', '2006', '2007', '2008', '2009', '2010', '2011', 2012', '2013', '2014', '2015']`


</font>

In [74]:
import pandas as pd

file_path = r"E:\University\Інше\IV Amazinum Data Science Camp\Lecture 3\scimagojr country rank 1996-2022.xlsx"

ScimEn = pd.read_excel(file_path, usecols=[0, 1, 2, 3, 4, 5, 7, 8])
ScimEn

,Rank,Country,Region,Documents,Citable documents,Citations,Citations per document,H index
0,1,China,Asiatic Region,360468,358777,3947871,10.95,308
1,2,United States,Northern America,199442,195042,3068926,15.39,422
2,3,India,Asiatic Region,76103,74167,760964,10.00,217
3,4,Japan,Asiatic Region,56249,55680,633294,11.26,217
4,5,United Kingdom,Western Europe,52572,51156,909276,17.30,267
...,...,...,...,...,...,...,...,...
207,208,Palau,Pacific Region,1,1,0,0.00,0
208,209,Montserrat,Latin America,1,1,7,7.00,1
209,210,Saint Vincent and the Grenadines,Latin America,1,1,1,1.00,1
210,211,Guinea-Bissau,Africa,1,1,29,29.00,1
211,212,British Indian Ocean Territory,Africa,1,1,81,81.00,1

<font color = 'Green'>
<font color = 'Red'>
Task 4
</font>

Function "answer_one" should return the resulted DataFrame (20 columns and 15 entries)

</font>

In [88]:
import pandas as pd

def answer_one(GDP, ScimEn, energy):
    GDP = GDP[['Country', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015']]
    ScimEn15 = ScimEn.head(15)

    #Об'єднання виконується за спільними значеннями стовпців, які вказують на однаковість даних.
    result = pd.merge(energy, GDP, how='inner', left_on='Country', right_on='Country')         #з'єднали energy і GDP за полем Country
    result = pd.merge(result, ScimEn15, how='inner', left_on='Country', right_on='Country')

    result = result[
        [
            'Rank',
            'Documents',
            'Citable documents',
            'Citations',
            'Citations per document',
            'H index',
            'Country', 
            'Energy Supply', 
            'Energy Supply per Capita', 
            '% Renewable',
            '2006', 
            '2007', 
            '2008', 
            '2009', 
            '2010', 
            '2011', 
            '2012', 
            '2013', 
            '2014', 
            '2015'
        ]]
    
    result.set_index('Country', inplace=True)
    return result

res = answer_one(GDP, ScimEn, energy)
res

,Rank,Documents,Citable documents,Citations,Citations per document,H index,Energy Supply,Energy Supply per Capita,% Renewable,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
Country,,,,,,,,,,,,,,,,,,,
Australia,14,25906,25237,495278,19.12,212,5386000000,231.0,11.810810,7.479074e+11,8.544273e+11,1.055686e+12,9.286298e+11,1.148570e+12,1.398456e+12,1.546953e+12,1.576330e+12,1.467590e+12,1.350580e+12
Brazil,15,25887,25493,260540,10.06,145,12149000000,59.0,69.648030,1.107627e+12,1.397114e+12,1.695855e+12,1.666996e+12,2.208838e+12,2.616157e+12,2.465228e+12,2.472819e+12,2.456044e+12,1.802212e+12
Canada,8,39036,38276,787010,20.16,263,10431000000,296.0,61.945430,1.319265e+12,1.468820e+12,1.552990e+12,1.374625e+12,1.617343e+12,1.793327e+12,1.828366e+12,1.846597e+12,1.805750e+12,1.556509e+12
China,1,360468,358777,3947871,10.95,308,127191000000,93.0,19.754910,2.752119e+12,3.550328e+12,4.594337e+12,5.101691e+12,6.087192e+12,7.551545e+12,8.532186e+12,9.570471e+12,1.047562e+13,1.106157e+13
France,12,29351,28759,471469,16.06,205,10597000000,166.0,17.020280,2.320536e+12,2.660591e+12,2.930304e+12,2.700887e+12,2.645188e+12,2.865158e+12,2.683672e+12,2.811877e+12,2.855964e+12,2.439189e+12
Germany,6,47781,46767,641717,13.43,230,13261000000,165.0,17.901530,2.994704e+12,3.425578e+12,3.745264e+12,3.411261e+12,3.399668e+12,3.749315e+12,3.527143e+12,3.733805e+12,3.889093e+12,3.357586e+12
India,3,76103,74167,760964,10.00,217,33195000000,26.0,14.969080,9.402599e+11,1.216736e+12,1.198895e+12,1.341888e+12,1.675616e+12,1.823052e+12,1.827638e+12,1.856721e+12,2.039126e+12,2.103588e+12
Iran,11,29776,29448,511199,17.17,179,9172000000,119.0,5.707721,2.662989e+11,3.498816e+11,4.123362e+11,4.163970e+11,4.868076e+11,6.261331e+11,6.440355e+11,4.927756e+11,4.603828e+11,4.082129e+11
Italy,9,35991,34424,529459,14.71,192,6530000000,109.0,33.667230,1.949552e+12,2.213102e+12,2.408655e+12,2.199929e+12,2.136100e+12,2.294994e+12,2.086958e+12,2.141924e+12,2.162010e+12,1.836638e+12
Japan,4,56249,55680,633294,11.26,217,18984000000,149.0,10.232820,4.601663e+12,4.579750e+12,5.106679e+12,5.289494e+12,5.759072e+12,6.233147e+12,6.272363e+12,5.212328e+12,4.896994e+12,4.444931e+12
South Korea,10,35294,35005,503147,14.26,182,11007000000,221.0,2.279353,1.053217e+12,1.172614e+12,1.047339e+12,9.439419e+11,1.144067e+12,1.253223e+12,1.278428e+12,1.370795e+12,1.484318e+12,1.465773e+12
Russian Federation,7,43567,43290,175721,4.03,103,30709000000,214.0,17.288680,9.899321e+11,1.299703e+12,1.660848e+12,1.222646e+12,1.524917e+12,2.045923e+12,2.208294e+12,2.292470e+12,2.059242e+12,1.363482e+12
Spain,13,27880,27272,515485,18.49,202,4923000000,106.0,37.968590,1.260399e+12,1.474003e+12,1.631863e+12,1.491473e+12,1.422108e+12,1.480710e+12,1.324751e+12,1.355580e+12,1.371821e+12,1.196157e+12

### Question 2

<font color='Green'>
What is the average GDP over the last 10 years for each country? (exclude missing values from this calculation.)

*This function should return a Series named `avgGDP` with 15 countries and their average GDP sorted in descending order.*

</font>

In [85]:
def answer_two(GDP, ScimEn, energy):
    def avgGDP(row):
        data = row[['2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015']]
        return pd.Series({'avgGDP': data.mean()})
    
    res = answer_one(GDP, ScimEn, energy)  # Pass the arguments to answer_one
    avgGDP_df = res.apply(avgGDP, axis=1).sort_values(by='avgGDP', ascending=False)
    return avgGDP_df

res_answer_two = answer_two(GDP, ScimEn, energy)
res_answer_two

                          avgGDP
Country
China               6.927707e+12
Japan               5.239642e+12
Germany             3.523342e+12
France              2.691337e+12
Italy               2.142986e+12
Brazil              1.988889e+12
Russian Federation  1.666746e+12
Canada              1.616359e+12
India               1.602352e+12
Spain               1.400886e+12
South Korea         1.221372e+12
Australia           1.207513e+12
Iran                4.563261e+11

### Question 3
<font color='Green'>
By how much had the GDP changed over the 10 year span for the country with the 6th largest average GDP?

*This function should return a single number.*


</font>

In [92]:
def answer_three(res):
    answer_2 = answer_two(GDP, ScimEn, energy)
    country_6th_avgGDP = answer_2.index[5]
    
    gdp_2006 = res.loc[country_6th_avgGDP]['2006']
    gdp_2015 = res.loc[country_6th_avgGDP]['2015']
    
    gdp_change = gdp_2015 - gdp_2006
    
    return gdp_change

result_3 = answer_three(res)
result_3

694585288119.1501

### Question 4


<font color='Green'>

Create a new column that is the ratio of Self-Citations to Total Citations. 
What is the maximum value for this new column, and what country has the highest ratio?

*This function should return a tuple with the name of the country and the ratio.*

</font>

In [109]:
#Нема таких даних як Self-Citations
def answer_four():
    Top15 = answer_one(GDP, ScimEn, energy)
    return "ANSWER"

four = answer_four()
four

'ANSWER'

### Question 5

<font color='Green'>

Create a column that estimates the population using Energy Supply and Energy Supply per capita. 
What is the third most populous country according to this estimate?

*This function should return a single string value.*

</font>

In [99]:
'''
Population = Energy Supply / Energy Supply per Capita
'''

def answer_five(GDP, ScimEn, energy):
    Top15 = answer_one(GDP, ScimEn, energy)
    
    Top15['Estimated Population'] = Top15['Energy Supply'] / Top15['Energy Supply per Capita']
    
    Top15 = Top15.sort_values(by='Estimated Population', ascending=False)
    
    third_most_populous_country = Top15.index[2]
    
    return third_most_populous_country

result_five = answer_five(GDP, ScimEn, energy)
result_five

'Brazil'

### Question 6


<font color='Green'>

Create a column that estimates the number of citable documents per person. 
What is the correlation between the number of citable documents per capita and the energy supply per capita? Use the `.corr()` method, (Pearson's correlation).

*This function should return a single number.*

</font>

In [100]:
def answer_six(GDP, ScimEn, energy):
    Top15 = answer_one(GDP, ScimEn, energy)

    Top15['Estimated Population'] = Top15['Energy Supply'] / Top15['Energy Supply per Capita']
    
    Top15['Citable Documents per Capita'] = Top15['Citable documents'] / Top15['Estimated Population']

    correlation = Top15['Citable Documents per Capita'].corr(Top15['Energy Supply per Capita'])
    
    return correlation

result_six = answer_six(GDP, ScimEn, energy)
result_six

0.815784443861239

### Question 7

<font color='Green'>
Use the following dictionary to group the Countries by Continent, then create a dateframe that displays the sample size (the number of countries in each continent bin), and the sum, mean, and std deviation for the estimated population of each country.

```python
ContinentDict  = {'China':'Asia', 
                  'United States':'North America', 
                  'Japan':'Asia', 
                  'United Kingdom':'Europe', 
                  'Russian Federation':'Europe', 
                  'Canada':'North America', 
                  'Germany':'Europe', 
                  'India':'Asia',
                  'France':'Europe', 
                  'South Korea':'Asia', 
                  'Italy':'Europe', 
                  'Spain':'Europe', 
                  'Iran':'Asia',
                  'Australia':'Australia', 
                  'Brazil':'South America'}
```

*This function should return a DataFrame with index named Continent `['Asia', 'Australia', 'Europe', 'North America', 'South America']` and columns `['size', 'sum', 'mean', 'std']`*

</font>

In [103]:
def answer_seven(GDP, ScimEn, energy):
    ContinentDict  ={'China':'Asia', 
                      'United States':'North America', 
                      'Japan':'Asia', 
                      'United Kingdom':'Europe', 
                      'Russian Federation':'Europe', 
                      'Canada':'North America', 
                      'Germany':'Europe', 
                      'India':'Asia',
                      'France':'Europe', 
                      'South Korea':'Asia', 
                      'Italy':'Europe', 
                      'Spain':'Europe', 
                      'Iran':'Asia',
                      'Australia':'Australia', 
                      'Brazil':'South America'
                    }

    Top15 = answer_one(GDP, ScimEn, energy)

    Top15['Estimated Population'] = Top15['Energy Supply'] / Top15['Energy Supply per Capita']

    Top15['Continent'] = [ContinentDict[country] for country in Top15.index]

    result = Top15.groupby('Continent')['Estimated Population'].agg(['size', 'sum', 'mean', 'std'])
    
    return result


result_seven = answer_seven(GDP, ScimEn, energy)
result_seven

               size               sum              mean           std
Continent
Asia              5   2898666386.6106   579733277.32212  6.790979e+08
Australia         1   23316017.316017   23316017.316017           NaN
Europe            5  394058699.474436   78811739.894887  3.813228e+07
North America     1   35239864.864865   35239864.864865           NaN
South America     1  205915254.237288  205915254.237288           NaN